@import "tailwindcss";

@utility clac-btn {
  @apply border-2 border-[#333] cursor-pointer text-lg hover:shadow-[1px_1px_2px_#333];
}

@layer components {
  .calc-input {
    @apply bg-white col-span-4 clac-btn;
  }

  .calc-clear {
    @apply bg-[red] col-span-3 clac-btn;
  }

  .calc-operator {
    @apply bg-[orange] clac-btn;
  }

  .calc-num {
    @apply bg-white clac-btn;
  }

  .calc-dot {
    @apply bg-[green] clac-btn;
  }

  .calc-result {
    @apply bg-[orange] col-span-2 clac-btn;
  }
}
